@import"variables";

  /* ログインフォーム */
.auth-wrapper {
  .auth-container {
    padding-top: 30px;
    padding-bottom: 30px;
    .card {
      max-width: 800px;
      margin: 0 auto;
      .card-body {
        padding-top: 40px;
        padding-bottom: 30px;
        .form-group {
          width: 100%;
          text-align: center;
          margin: 0 auto;
          margin-bottom: 10px;
        }
      }
    }
  }
}

/* パスワード表示非表示 */
.pass-box {
  position: relative;
  .button__input {
    display: none;
  }
  .hidden-box {
    display: none;
  }
  .button__label {
    position: absolute;
    top: 8px;
    right: 75px;
  }
}

/* ログインフォーム　タブレットまで */
@media(max-width: $tab) {
  .auth-wrapper {
    .auth-container {
      padding-top: 30px;
      padding-bottom: 30px;
      .card-body {
        .form-group {
          width: 100%;
          text-align: center;
          margin: 0 auto;
        }
      }
    }
  }
}

/* ログインフォーム　タブレットまで */
@media(max-width: 767px) {
  .auth-wrapper {
    .auth-container {
      padding-top: 30px;
      padding-bottom: 30px;
      .card {
        .card-body {
          padding-top: 20px;
          .form-group {
            width: 100%;
            text-align: center;
            margin: 0 auto;
          }
          .text-center {
            margin-top: 20px;
          }
        }
        
        /* パスワード表示非表示 */
        .pass-box {
          position: relative;
          .button__input {
            display: none;
          }
          .hidden-box {
            display: none;
          }
          .button__label {
            position: absolute;
            top: 53px;
            right: 15px;
          }
        }
      }
    }
  }
}