.search-wrapper {
  margin: 0 auto;
  text-align: center;
}

.search-wrapper .search-container {
  padding: 0px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.search-wrapper .search-container .search-card {
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
}

.search-wrapper .search-container .search-card .search-card-header {
  width: 100%;
}

.search-wrapper .search-container .search-card .card-body {
  padding: 10px;
}

.search-wrapper .search-container .search-card .card-body .search-form {
  padding: 15px;
}

.search-wrapper .search-container .search-card .card-body .search-form .search-row {
  margin-bottom: 20px;
}

.search-wrapper .search-container .search-card .card-body .search-form .search-row .form-row {
  padding: 10px;
  margin: 15px;
}

.search-wrapper .search-container .search-card .card-body .search-form .search-row .form-row .home-form {
  margin-right: 20px;
}

@media (max-width: 480px) {
  .btn-lg {
    padding: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.list-wrapper .list-container {
  max-width: 1000px;
}

.list-wrapper .list-container .create-btn {
  margin-right: 20px;
}

.list-wrapper .list-container .table {
  text-align: center;
  border: 0.13rem solid #626063;
  max-width: 1000px;
}

.list-wrapper .list-container .table .table-heading .th-id {
  width: 5%;
}

.list-wrapper .list-container .table .table-heading .th-name {
  width: 18%;
}

.list-wrapper .list-container .table .table-heading .th-img {
  width: 24%;
}

.list-wrapper .list-container .table .table-heading .th-price {
  width: 10%;
}

.list-wrapper .list-container .table .table-heading .th-stock {
  width: 10%;
}

.list-wrapper .list-container .table .table-heading .th-maker {
  width: 18%;
}

.list-wrapper .list-container .table .table-heading .th-admin {
  width: 15%;
}

.list-wrapper .list-container .table .product-img {
  max-width: 200px;
  max-height: 200px;
}

.list-wrapper .list-container .table tr, .list-wrapper .list-container .table td {
  vertical-align: middle;
}

@media (max-width: 680px) {
  .list-wrapper .list-container .table {
    width: 100%;
    text-align: center;
  }
  .list-wrapper .list-container .table thead {
    display: none;
  }
  .list-wrapper .list-container .table tr {
    width: 100%;
  }
  .list-wrapper .list-container .table tr th {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .list-wrapper .list-container .table td {
    width: 100%;
    display: block;
    text-align: right;
    valign: middle;
  }
  .list-wrapper .list-container .table td:first-child {
    background-color: #6cb2eb;
    counter-reset: #fff;
    font-weight: bold;
    text-align: center;
  }
  .list-wrapper .list-container .table td:before {
    content: attr(data-label);
    float: left;
    font-weight: 500;
    margin-right: 10px;
  }
  .list-wrapper .list-container .table .btn-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .list-wrapper .list-container .table .btn-row p, .list-wrapper .list-container .table .btn-row form {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=home.css.map */