.btn-1 {
  margin-bottom: 15px;
  float: right;
}

.create-container {
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.create-box {
  text-align: center;
}

/* パスワード表示非表示*/
.boxxx {
  display: flex;
  align-items: center;
}

.box-pass {
  width: 200px;
  position: relative;
}

.button__input {
  display: none;
}

.hidden-box {
  display: none;
}
.button__label {
  position: absolute;
  right: 25px;
  top: 8px;
}